/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FD6E0A;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.section-description{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    text-align: center;
}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}

.banner .profile-pic{
    width: 350px;
}

.banner-greeting{
    font-size: 50px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 0;
}
.banner-title{
    font-size: 70px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.banner-description{
    margin-bottom: 30px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 150px;
}

/* Abut section styles */
.abut{
    padding: 140px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 100px 0;
}

.abut-info-container{
    display: flex;
    justify-content: space-around;
}

.abut-info{
    text-align: center;
}

.info-title{
    font-size: 20px;
    color: #757575;
}

.info-description{
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* Skills related styles */
#what-i-do-description{
    padding: 30px 150px;
    text-align: center;
    font-size: 18px;
    color: #757575;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}

.skill-description{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}

/* Resume section styles */

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-top: 30px;
}

.resume-items{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-top: -20px;
}

.resume-info{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin-top: -20px;
}

.resume-description{
    font-size: 16px;
    color: #757575
}

.download-cv{
    text-align: center;
    margin-top: 40px;
}

/* footer section styes */

footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 80px 200px;
    margin-top: 60px;
}




