/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FD6E0A;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.section-description{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    text-align: center;
}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}

.banner .profile-pic{
    width: 350px;
}

.banner-greeting{
    font-size: 50px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 0;
}
.banner-title{
    font-size: 70px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.banner-description{
    margin-bottom: 30px;
}

/* Abut section styles */
.abut{
    padding: 140px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}


